/**
 * ################################
 * # CSS section: Scrollbar
 * ################################
 */

::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: #1b1b1b;
}

::-webkit-scrollbar-thumb {
    background: #3a3a3a;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.8);
}

::-webkit-scrollbar-corner {
    background: #1b1b1b;
}

/**
 * ################################
 * # CSS section: General elements (button, input, textarea)
 * ################################
 */

body {
    background-color: #101010; /* Dark background */
    color: #c0c0c0; /* Soft light grey for readability */
    font-family: 'Orbitron', sans-serif; /* A more tech-like font */
    font-size: 1.0rem;
    padding-top: 25px;
}

.standard-font {
    font-family: Arial, Helvetica, sans-serif;
}

button, input {
    background-color: #2a2a2a;
    color: #b8b8b8;
    font-family: 'Orbitron', sans-serif;

    border: 1px solid #444444;
    border-radius: 4px;
    font-size: 1.2em;

    transition: ease-in-out 0.1s;
}

button:hover, input:hover {
    background-color: #333333;
    transition: ease-in-out 0.2s;
}

button:focus-visible, input:focus-visible {
    outline: 3px solid #007f7f; /* Neon-like border for focus */
    outline-offset: -1px;
    background-color: #333333;
    transition: outline-color 0s;
}

button:disabled, button:disabled:hover {
    background-color: #2a2a2a;
    color: #737373;
}

/*number input styling*/
input[type=number]::-webkit-inner-spin-button {
    color-scheme: dark;
}

/*checkbox input styling*/
input[type="checkbox"] {
    appearance: none;
    background-color: #2a2a2a;
    margin: 0.2em auto;
    font: inherit;
    color: #b8b8b8;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid #4d4d4d;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
    cursor: pointer;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    background-color: #b8b8b8;
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:disabled::before {
    background-color: #737373;
    color: #737373;
}


/**
 * ################################
 * # CSS section: Debug container
 * ################################
 */

div#debug {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #202020;
    border: 2px solid #007f7f;
    font-family: Arial, Helvetica, sans-serif;
    color: #c0c0c0;
}

div.debug-header {
    position: relative;
    padding: 5px;
    border-bottom: solid 2px #007f7f;
    font-weight: bold;
    cursor: pointer;
}

span.debug-title {
    padding: 10px;
}

div.debug-open, div.debug-close {
    position: absolute;
    top: 3px;
    right: 2px;
    border: solid 2px #007f7f;
    width: 20px;
    height: 20px;
    color: #c0c0c0;
    font-size: 1.2em;
    text-align: center;
}

div#debug .debug-log {
    display: flex;
    flex-direction: column-reverse;
    overflow:auto;
    max-height:200px;
    padding: 10px;
    margin: 0px;
}

/**
 * ################################
 * # CSS section: Error container
 * ################################
 */

div#error {
    position: sticky;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px 10px;
    background-color: #ff0000;
    border-top: 2px solid #c0c0c0;
    border-bottom: 2px solid #c0c0c0;
    font-family: Arial, Helvetica, sans-serif;
    color: #c0c0c0;
}

div#error .error-label {
    font-weight: bold;
    font-size: 1.1rem;
}

div#error .error-message {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/**
 * ################################
 * # CSS section: Info container
 * ################################
 */

div#info {
    position: sticky;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px 10px;
    background-color: #006622;
    border-top: 2px solid #33cc33;
    border-bottom: 2px solid #33cc33;
    font-family: Arial, Helvetica, sans-serif;
    color: #33cc33;
}

div#info .info-label {
    font-weight: bold;
}

div#info .info-message {
    color: #f2f2f2;
}

div#info .info-close {
    position: absolute;
    top: 4px;
    right: 4px;
    width: 16px;
    height: 16px;
    border: 2px solid #33cc33;
    color: #33cc33;
    text-align: center;
    cursor: pointer;
}


/**
 * ################################
 * # CSS section: Loading panel
 * ################################
 */
div#loading {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.85;
    text-align: center;
}

div#loading > div#loading-animation {
    top:50%;
    color: #00ffcc;
}

div#loading-animation {
    background-image: url('assets/edgeloaderclear.gif'); /* Pfad zum Loader-GIF */
    background-size: cover; /* Passt das Bild an die Größe des Divs an */
    background-repeat: no-repeat; /* Verhindert das Wiederholen des Bildes */
    background-position: center; /* Zentriert das Bild */
    width: 100px; /* Breite des Divs (kann nach Bedarf angepasst werden) */
    height: 100px; /* Höhe des Divs (kann nach Bedarf angepasst werden) */
}

@keyframes rotate {
    from {-webkit-transform:rotate(0deg);}
    to { -webkit-transform:rotate(360deg);}
}
@-webkit-keyframes rotate {
    from {-webkit-transform:rotate(0deg);}
    to { -webkit-transform:rotate(360deg);}
}


/**
 * ################################
 * # CSS section: Reload button
 * ################################
 */

div.symbiote-reload::before {
    width: 17px;
    height: 17px;
    background-size: 17px;
}

div.symbiote-reload {
    position: absolute;
    top: 1px;
    right: 1px;
    z-index: 1000;
    margin: 5px;
    padding: 1px;
    padding-bottom: 0;
    border: solid 2px #4d4d4d;
    border-radius: 4px;
    width: 17px;
    height: 17px;
}

/**
 * ################################
 * # CSS section: App info
 * ################################
 */

div.app-info {
    position: relative;
    margin: 5px;
    width: 100%;
    font-size: 0.7rem;
    color: #c0c0c0;
    text-align: center;
}

/**
 * ################################
 * # CSS section: Sections
 * ################################
 */

div.section {
    border: solid 1px #007f7f; /* Neon green/teal */
    background-color: #202020; /* Dark background */
    margin-bottom: 3px;
    font-size: 0.9rem;
    color: #c0c0c0;
}

div.section-header {
    background-color: #151515; /* Even darker header */
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #007f7f;
}

span.section-title {
    color: #00ffcc; /* Neon teal text */
    font-size: 1rem;
}

div.section-body {
    padding: 15px;
    background-color: #282828;
    border-top: solid 1px #007f7f;
}

div.section-body button, div.section-body input {
    font-size: 1em;
}

div.sub-section-header label {
    padding: 0 0.5em;
}
